{
  "extends": ["react-app", "prettier"],
  "plugins": ["mocha"],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  },
  "overrides": [
    {
      "files": ["src/**/*.spec.js"],
      "env": { "mocha": true }
    }
  ]
}
